@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Roboto","Arial",sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items : center;
    height: 56px;
    padding: 0 16px;
}

.left-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left-section img {
    width: 49%;
    padding-left: 15px;
}

.mid-section {
    display: flex;
    align-items: center;
    /* margin-left: -9%; */
}

.mid-section form {
    display: flex;
    height: 40px;
    width: 620px;
}

.mid-section input {
    width : 100%;
    border-radius: 20px 0 0 20px;
    padding : 10px;
    border: 1px solid rgb(131, 129, 129);
    font-size: 15px;
}

.mid-section button {
    border: 1px solid rgb(131, 129, 129);
    border-radius: 0 20px 20px 0;
    padding : 8px 15px ;
    cursor: pointer;
}
.mid-section .mic {
    width: 40px;
    height: 40px;
    background-color: rgb(242, 244, 247);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    cursor: pointer;
}

.right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-section a {
    padding: 10px;
    color: black;
}

.content-area {
    height: calc(100vh - 56px);
    display: flex;
    background-color:rgba(224, 226, 228, 0.268);
}

aside {
    height: 100%;
    width : 250px;
    background-color: white;
    overflow-y: auto;
}
.content-area a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-right: 5px;
    padding:10px;
}

.content-area a:hover {
    background-color: rgb(224, 226, 228);
}
.content-area a span {
    padding: 5px 0 0 20px;
    font-size: 1.4rem;
    font-weight: 500;
}
.active {
    background-color: rgb(224, 226, 228);
}
hr {
    margin: 10px;
}

nav p {
    font-size: 1.4rem;
    color: rgb(77, 77, 77);
    font-weight: bold;
    padding: 10px;
}
.nav_link {
    display: flex;
    align-items: center;
}
.channel-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}