@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Roboto","Arial",sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items : center;
    height: 56px;
    padding: 0 16px;
}

.left-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left-section img {
    width: 49%;
    padding-left: 15px;
}

.mid-section {
    display: flex;
    align-items: center;
    /* margin-left: -9%; */
}

.mid-section form {
    display: flex;
    height: 40px;
    width: 620px;
}

.mid-section input {
    width : 100%;
    border-radius: 20px 0 0 20px;
    padding : 10px;
    border: 1px solid rgb(131, 129, 129);
    font-size: 15px;
    border-right: none;
}

.mid-section button {
    border: 1px solid rgb(131, 129, 129);
    border-radius: 0 20px 20px 0;
    padding : 8px 15px ;
    cursor: pointer;
}
.mid-section .mic {
    width: 40px;
    height: 40px;
    background-color: rgb(242, 244, 247);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    cursor: pointer;
}

.right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-section a {
    padding: 10px;
    color: black;
}

.content-area {
    height: calc(100vh - 56px);
    display: flex;
    background-color:rgba(224, 226, 228, 0.268);
}

aside {
    height: 100%;
    width : 250px;
    background-color: white;
    overflow-y: auto;
}
.content-area aside a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-right: 5px;
    padding:10px;
}

.content-area aside a:hover {
    background-color: rgba(224, 226, 228, 0.405);
}
.content-area aside a span {
    padding: 5px 0 5px 20px;
    font-size: 1.4rem;
    font-weight: 500;
}
.active {
    background-color: rgb(224, 226, 228);
}

#active-span {
    font-weight: bold;
}

hr {
    margin: 10px;
}

nav p {
    font-size: 1.4rem;
    color: rgb(77, 77, 77);
    font-weight: bold;
    padding: 10px;
}
.nav_link {
    display: flex;
    align-items: center;
}

.channel-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

main {
    width:100%;
    height:100%;
    padding: 35px 15px;
    border-top:1px solid #ddd;
    overflow-y: auto;
}

.videos-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.video-details {
    display: flex;
}
.video {
    width: 330px;
    margin-bottom: 40px;
    cursor: pointer;
}
.thumbnail {
    width : 100%;
    height: 187px;
    margin-bottom: 12px;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.creator-img img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.title {
    display: flex;
    flex-direction: column;
}

.title a {
    text-decoration: none;
}

.video-title {
    color: rgb(26, 25, 25);
    font-size: 1.6rem;
    max-width: 278px;
    font-weight: 500;
    line-height: 2.2rem;
    margin-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.video-creator, title span {
    color: rgb(92, 92, 92);
    font-size: 1.2rem;
    line-height: 2rem;
}
.title_span {
    display: flex;
    align-items: center;
}
.title_span span {
    padding-bottom: 2px;
    color: rgb(92, 92, 92);
}

.video-creator:hover{
    color: rgb(48, 48, 48);
}
.title span {
    font-size: 1.1rem;
}

