* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}
#container {
    background-color: rgb(102, 18, 181);
    margin: 10px;
    padding: 20px;
    border: 4px solid;
    width: 40%;
}
h1 {
    border: 4px solid black;
    margin: 10px 0;
    padding: 10px;
    text-decoration: underline;
    color: aliceblue;
}
img {
    border : solid 4px;
    width : 100%;
}
.text, span {
    color: rgb(112, 255, 224);
    font-weight: bold;
    margin: 10px 0;
}
a {
    color: aliceblue;
    text-decoration: none;
}
hr {
    border: solid 2px black;
}
ul {
    color: black;
    list-style: none;
    padding: 10px;
}